@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }

  /*Шапка*/

  .container.navigation {
    display: block;
  }

  .page-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin-right: 123px;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .address-list {
    display: flex;
    margin-left: 118px;
    flex-direction: column;
    gap: 4px;
  }

  .address-item {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }

  .mobile-menu-open {
    display: none;
  }

  /*Герой*/
  .hero {
    max-width: 768px;
    height: auto;
    padding-top: 112px;
    padding-bottom: 108px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 40px;

    font-size: 56px;
    line-height: 1.07;
  }

  /*Особенности*/

  .features-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /*Чем мы занимаеся*/

  .section.work {
    display: none;
  }

  /*Наша команда*/

  .section.team {
    padding-bottom: 104px;
  }

  .container.team {
    width: 552px;
  }

  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /*Customers*/

  .container.customers {
    width: 552px;
  }

  .customers-logo-list {
    column-gap: 24px;
  }

  .customers-logo-item {
    width: calc((100% - 24px * 2) / 3);
  }

  /*Подвал*/

  .container.footer {
    width: 552px;
  }

  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
  }

  .footer-block-social {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 24px;
  }

  .row-block-subscribe {
    flex-direction: row;
    gap: 24px;
  }

  .label-email-subscribe {
    text-align: start;
    margin-top: 72px;
  }

  .input-email-subscripe {
    width: 264px;
  }

  /*Модальное окно*/

  .modal {
    width: 408px;
  }
}
